* {
  box-sizing: border-box;
}

body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.heading {
  color: #0070c1;
  font-family: 'Roboto';
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.image {
  height: 300px;
  width: 300px;
}

.mini-image {
  height: 120px;
  width: 130px;
  border-radius: 5px;
}

.logo-image {
  height: 50px;
  width: 50px;
}
